*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --ff-primary: sans-serif;

  --fw-thin: 100;
  --fw-bold: 600;

  --clr-main: #333333;
  --clr-secondary: #e4e4e4;
  --clr-font: #ffffff;

  --fs-h1: 4vw;
  --fs-h2: 2.5vw;
  --fs-h3: 1.5vw;
  --fs-big: 36px;
  --fs-default: 36px;
  --fs-medium: 24px;
  --fs-small: 18px;
  --fs-xsmall: 12px;
}
html {
  background-color: var(--clr-secondary);
}
body {
  font-family: var(--ff-primary);
  font-size: var(--fs-default);
  color: var(--clr-font);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: default;
  position: relative;
}
.clickable {
  cursor: pointer;
}
a {
  color: var(--clr-font);
  text-decoration: none;
}

/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding: 0 25px;
  background-color: var(--clr-main);
  position: absolute;
  top: 0;
}
header > * {
  height: 100%;
}
header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .logo img {
  height: 50px;
}
.navigation {
  display: flex;
  position: relative;
}
.navigation > * {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
html.concept header ul.navigation > :nth-child(1) {
  border-bottom: solid 5px;
}
html.gallery header ul.navigation > :nth-child(2) {
  border-bottom: solid 5px;
}
html.contact header ul.navigation > :nth-child(1) {
  border-bottom: solid 5px;
}
.expanding {
  width: 250px;
  font-size: medium;
  position: absolute;
}
header .expanding {
  top: 100;
}
.expanding > * {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
  background-color: var(--clr-main);
}

/*FOOTER*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 25px;
  background-color: var(--clr-main);
  position: absolute;
  bottom: 0;
}
footer > * {
  height: 100px;
}
footer .expanding {
  bottom: 100;
}
html.concept footer ul.navigation > :nth-child(1) {
  border-top: solid 5px;
}
footer p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1.3em;
  font-size: var(--fs-xsmall);
}

/*PAGE everything goes in here*/
div.page {
  height: 2000px;
  border: solid;
}
