div.menus {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span {
  color: black;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 50px;
  cursor: pointer;
}
div.navbar-right {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  right: 0;
  top: 0;
  overflow-x: hidden;
  transition: 1s;
  background: url(../images/Navbar.svg) no-repeat center left;
  background-size: cover;
  text-align: right;
  /*flex, no touch*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.navbar-right div.closebtn {
  font-size: 70px;
  margin-top: 20px;
  margin-right: 45px;
}
div.navbar-right div.closebtn a {
}
div.navbar-right div.menus {
  transform: skew(-20deg, 0deg);
  width: 1000px;
  margin-left: 270px;
}
div.navbar-right div.menus a {
  transform: skew(20deg, 0deg);
  font-size: 50px;
  margin: 80px 0 80px 0;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: white;
  text-align: left;
}
div.navbar-right div.menus a.concept {
}
div.navbar-right div.menus a.gallery {
}

div.navbar-right p#copyright {
  text-align: right;
  vertical-align: bottom;
}
