span.menubtn {
}

div.navbar-left {
  overflow: hidden;
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  transition: 1s;
  background: url(../images/Navbar-left.svg) no-repeat center right;
  background-size: cover;
  text-align: left;
  /*flex, no touch*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div.navbar-left div.closebtn {
  font-size: 70px;
  margin-top: 20px;
  margin-left: 45px;
}
div.navbar-left div.menus {
  transform: skew(20deg, 0deg) translateX(-50%);
  width: 100%;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  height: 60%;
}
div.navbar-left div.menus a.concept {
  transform: skew(-20deg, 0deg);
  font-size: 50px;
  margin-bottom: 50px;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: white;
}
div.navbar-left div.menus div.sub-menus div.sub {
  margin-right: 50px;
  margin-bottom: 100px;
}
div.navbar-left div.menus div.sub-menus div.sub a.sub {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: white;
  display: block;
  transform: skew(-20deg, 0deg);
  font-size: 30px;
}
div.navbar-left div.menus div.sub-menus div.sub div.sub-sub-menus {
  transform: skew(-20deg, 0deg);
  flex-direction: column;
  margin-right: 100px;
  margin-bottom: 20px;
  /*DISPLAY NONE FOR JAVASCRIPT*/
  display: none;
  /*IT SHOULD DISPLAY FLEX WHEN a.sub get CLICKED*/
}
div.navbar-left div.menus div.sub-menus div.sub div.sub-sub-menus a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: white;
  font-size: 20px;
  margin: 50px 0 50px 0;
  display: inline-block;
}

div.navbar-left div.menus div.sub-menus div.sub#elementals,
div.sub#world,
div.sub#objects {
}
div.navbar-left div.menus div.gallery-contact {
  width: 100%;
  font-size: 30px;
  transform: skew(-20deg, 0deg);
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: white;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}
div.navbar-left div.menus div.gallery-contact a {
  margin: 0 50px 0 50px;
  padding-bottom: 3px;
}

div.navbar-left p#copyright {
  text-align: right;
  font-size: 20px;
  margin-bottom: 3px;
  height: 20px;
  width: fit-content;
}
